/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
    --font: #000;
    --bg: #FFF;
    --sombra: #b8b8b8;

    --main: #E19F58;
    --mainLight: #F3BE84;
    --mainLighter: #F8E3D4;
}
*{
    margin: 0;
}
body {
    font-family: 'Cabin', sans-serif;
    color: var(--font-color);
    background-color: var(--bg);
    overflow-x: hidden;
}
input, select, textarea {
    font-family: 'Cabin', sans-serif;
    font-size: 1rem;
}
html {
    scroll-behavior: smooth;
}
a {
    color: var(--font);
    text-decoration: none;
    transition: all 0.2s ease-in;
}
a:hover {
    background: var(--main);;
}
i {
    color: var(--font-color);
}


main {
    width: 100%;
    height: auto;
    min-height: 77.9vh;
    margin-top: 10vh;
    position: relative;
}
/************* NAV ************/
nav {
    position: fixed;
    top: 0;
    padding-top: 2vh;
    padding-left: 2vw;
    height: 8vh;
    width: 100%;
    z-index: 1000;

    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 77%, rgba(255,255,255,0.6698113207547169) 100%);
}


/************************** FOOTER ***************************/
footer {
    height: 12vh;
    width: 100%;

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 77%, rgba(255,255,255,0.6698113207547169) 100%);

    border-top: 1px solid var(--sombra);
    box-shadow: 0 -1px 5px var(--sombra);
}
footer, footer>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}
.sociais span:nth-child(1)::after,
.sociais span:nth-child(2)::after {
    content: ' • ';
}

@media screen and (min-width: 900px) {
    .top-footer {
        width: 90%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .sociais {
        display: flex;
        flex-direction: column;
        text-align: end;
        gap: 0.25em;
    }
    .sociais span:nth-child(1)::after,
    .sociais span:nth-child(2)::after {
        content: '';
    }
}