/* BASE */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
    --font-color: rgb(226, 226, 226);
    --background-color: #0c0c0c;
    --nav: #0c0c0c;
    --rodape: #0c0c0c;
    --barra-pesquisa: #0c0c0c;
    /* blocos */
    --primaria: #151515;
    /* sombras */
    --secundaria: #4f4f4f; 
    /* botao */
    --terciaria: #d56300;
    --terciaria-hover: #ff7700;

}
* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Cabin Condensed', sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
}
/*CLASSES GERAIS*/
.hidden {
    visibility: hidden;
}
a{
    color: var(--font-color);
    text-decoration: none;
}
h1 {
    font-size: 1.75rem;
}
a, p {
    font-size: 1.1rem;
}
i {
    color: var(--font-color);
}
input, select, option{
    background-color: var(--primaria);
    border: 0.1 solid var(--terciaria);
    color: var(--font-color);
}
.logo {
    font-style: italic;
}
.italico {
    font-style: italic;
}
.clicavel{
    cursor: pointer;
}
.container-imagem > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* BOTAO **/
.buy-button {
    background-color: var(--terciaria);
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    transform: scale(1);
    transition: all 0.2s ease-in;
}
.buy-button:hover{
    background-color: var(--terciaria-hover);
    transform: scale(1.1);
}

/************** NAV BAR ******************/
.nav {
    background-color: var(--nav);
    width: 100%;
    padding: 1em 0em;
    position: relative;
    z-index: 100;
}
.nav-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/************** RODAPE ******************/
.rodape {
    margin-top: 1em;
    background-color: var(--rodape);
    width: 100%;
    padding: 0.5em 0em;
    box-shadow: 0 -0.1em 0.5em var(--primaria);
}
.rodape-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}
.redes-sociais {
    display: flex;
    flex-direction: column;
    gap: 0.35em;
}
.rodape-admin {
    padding: 0.75em 0;
    width: 100%;
    text-align: center;
}
@media screen and (min-width: 870px) {
    .rodape-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    .rodape-admin {
        padding: 0.75em 0;
        width: 90%;
        margin: 0 auto;
        text-align: left;
    }
}