/************** BARRA DE PESQUISA ******************/
.search-bar {
    width: 95%;
    margin: 1em auto 0;
    background-color: var(--barra-pesquisa);
    border-radius: 0.5em;

    z-index: 10;
    position: relative;
    opacity: 1;

    transition: all 0.25s;
}

.search-container {
    padding: 1em;
    gap: 1em;
    display: flex;
    flex-direction: column-reverse;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}
.chip {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.chip input, .chip select, .chip option{
    background-color: var(--primaria);
    border: 0.1 solid var(--terciaria);
}
@media screen and (min-width: 870px) {
    .search-container {
        padding: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: auto;
    }
}

/************** PRODUTOS ******************/
.produtos {
    width: 90%;
    margin: 2em auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem ,1fr));
    column-gap: 2em;
    row-gap: 2em;
}
.produto-imagem {
    width: 18rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 0.25em;
}
.produtos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    padding: 1em;
    background-color: var(--primaria);
    border-radius: 0.5em;
}


/************** TESTEMUNHOS ******************/
.imagem-testemunho{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
}
.testemunho{
    width: 90%;
    margin: 2em auto;
    padding: 1em;
    border-radius: 0.5em;
    background-color: var(--primaria);

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media screen and (min-width: 870px) {
    .testemunho{
        display: grid;
        grid-template-columns: 125px auto;
        text-align: start;
    }
}

/********* PAGINA PRODUTO **********/
#produto {
    width: 90%;
    margin: 2em auto;
}
#produto > div,
.produto-descricao{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.produto-imagem {
    width: 18rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 0.25em;
    background-color: var(--secundaria);
    text-align: center;
}
@media screen and (min-width: 870px) {
    #produto > div {
        flex-direction: row;
        justify-content: center;
    }
    .produto-descricao{
        width: fit-content;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
        margin-left: 4em;
    }
}

/* MODAIS */
.modal {
    /* centraliza */
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    /*transição*/
    transform: translate(-50%,-50%) scale(0);
    visibility: hidden;
    transition: visibility 0.15s, transform 0.3s;

    /* aspecto geral */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
    width: min(90%, 40em);
    background-color: var(--primaria);
    border: 0.15em solid var(--secundaria);
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 1em var(--secundaria);
}
.modal.active{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}