/*************** BARRA DE PESQUISA *****************/
.pesquisa {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: min(30em, 90%);
    justify-content: space-between;
    gap: 1em;
}
.categorias {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.input {
    display: flex;
    gap: 0.25em;
}
.form {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.categoria {
    background-color: var(--mainLighter);
    padding: 0.25em 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
}
.categoria.ativa {
    background-color: var(--main);
}
@media screen and (min-width: 900px) {
    .pesquisa {
        flex-direction: row;
        width: 90%;
        margin: 0 auto;
        height: 1.75em;
    }
    .pesquisa div, .pesquisa select {
        flex-direction: row;
        gap: 2em;
        height: 100%;
    }
    .form {
        display: flex;
        justify-content: space-evenly;
    }
}

/************* PRODUTOS ***************/
.produtos {
    margin: 2em auto;
    width: min(50em, 90%);
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem ,1fr));
    column-gap: 2.5em;
    row-gap: 2.5em;
}
.produto {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    border: 1px solid var(--sombra);
    border-radius: 0.25em;
    box-shadow: 0 0 0.20em var(--sombra);
    gap: 1.75em;
    padding-bottom: 2em;
}
.imagem-produto {
    width: 15em;
    height: 13em;
}
.imagem-produto img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.produto-nome {
    width: 100%;
    margin-left: 2em;
    font-size: 1.1em;
    font-weight: bold;
}
/* BOTAO DE COMPRA */
.botao-compra {
    color: black;
    position: relative;
    overflow: hidden;
    width: 6em;
    height: 2em;
    
    transition: all 0.2s;
    background-color: var(--main);
    transform: scale(1);
}
.link-compra{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}
.icone, .preco {
    position: absolute;
    left:50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s ease;
    width: fit-content;
}
.preco{
    top: 50%; /* centralizado */
}
.icone{
    top: 50px; /* fora do botao */
}
/* BOTAO DE COMPRA ON HOVER */
.botao-compra:hover {
    background-color: var(--mainLight);
    transform: scale(1.1);
}
.botao-compra:hover .preco{
    top: -50px; /* fora do botao */
}
.botao-compra:hover .icone{
    top: 50%; /* centralizado */
}

/************** TESTEMUNHOS ******************/
.testemunho{
    border: 1px solid var(--sombra);

    margin: 2em 10% 4em;
    padding: 1em;
    border-radius: 0.5em;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.imagem-testemunho{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
}
.imagem-testemunho img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.texto-testemunho p{
    margin-top: 0.5em;
    font-style: italic;
}
@media screen and (min-width: 870px) {
    .testemunho{
        display: grid;
        grid-template-columns: 125px auto;
        text-align: start;
    }
}
.swiper-button-next,
.swiper-button-prev {
    color: var(--font) !important;
}
.swiper-pagination-bullet{
    background: var(--mainLight) !important;
}
.swiper-pagination-bullet-active {
    background: var(--main) !important;
}