/******* NAV COM ICONE DA HOME *******/
#nav-produto {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icone-home {
    font-size: 2.5em;
    position: fixed;
    right: 1em;
    transition: all 0.2s ease;
}
.icone-home:hover {
    font-size: 2.8em;
    background: var(--bg);
}

/********* PAGINA PRODUTO **********/
#produto {
    width: 100%;
    height: 77.9vh;
    display: flex;
}
#produto div{
    transition: all 0.15s ease-in;
}
#produto > div {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}
.produto-imagem {
    width: 18rem;
    height: 16rem;
    overflow: hidden;
    border-radius: 0.25em;
    background-color: var(--secundaria);
    text-align: center;

    margin-bottom: 1em;
}
.produto-imagem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.produto-descricao{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
@media screen and (min-width: 870px) {
    #produto > div {
        flex-direction: row;
        justify-content: center;
    }
    .produto-descricao{
        width: fit-content;
        flex-direction: column;
        gap: 1em;
        align-items: flex-start;
        margin-left: 4em;
    }
}

.botao-produto {
    padding: 0.5em 0.5em;
    border-radius: 0.25em;
    transition: all 0.2s;
    background-color: var(--main);
    transform: scale(1.1);
}
.botao-produto:hover {
    transform: scale(1.25);
}

/* MODAIS */
.modal {
    /* centraliza */
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    /*transição*/
    transform: translate(-50%,-50%) scale(0);
    visibility: hidden;
    transition: visibility 0.15s, transform 0.3s;

    /* aspecto geral */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    padding: 2em;
    width: min(90%, 40em);
    background-color: var(--bg);
    border: 0.15em solid var(--sombra);
    border-radius: 0.5em;
    box-shadow: 0.5em 0.5em 1em var(--sombra);
}
.modal.active{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
}